{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meu Site de Filmes{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'moviesApp/css/base.css' %}">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <!-- HEADER COMUM -->
    <header>
        <h1>🎥Cine<span>Track</span></h1>
    </header>

    <!-- CONTEÚDO ESPECÍFICO DE CADA PÁGINA -->
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>