{% extends "movies/base.html" %}
{% load static %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'moviesApp/css/delete_list.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Excluir Lista</h2>
    <p>Tem certeza que deseja excluir a lista <strong>{{ movie_list.name }}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Sim, excluir</button>
        <a href="{% url 'user_lists' %}">Cancelar</a>
    </form>
</div>
{% endblock %}