{% extends "movies/base.html" %}
{% load static %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'moviesApp/css/user_lists.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Minhas Listas</h2>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Nome da lista" required>
        <textarea name="description" placeholder="Descrição" required></textarea>
        <button class="btn btn-primary" type="submit">Criar Lista</button>
    </form>

    {% if not lists %}
    <p>Você ainda não tem listas. Crie a primeira!</p>
    {% else %}
    {% for list in lists %}
    <div class="list-card">
        <div class="list-header">
            <a href="{% url 'view_list' list.id %}" class="btn btn-primary">Ver Lista</a>
            <h3>{{ list.name }}</h3>
        </div>
        <p>{{ list.description }}</p>

        <a href="{% url 'edit_list' list.id %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'delete_list' list.id %}" class="btn btn-danger">Excluir</a>

        {% if not list.movies.all %}
        <p style="margin-top: 1.5rem;">Essa lista ainda não tem filmes.</p>
        {% endif %}
        </a>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}